.im{
    height: 100%;
    width: 100%;   
}

h2{
    font-size: 50px;
  line-height: 0;
  color: #333333;
}

.soulmate {
  font-size: 68px;
  line-height: 1;
  font-weight: 900px;
  margin-top: 40px;
  margin-bottom: 20px;
}