.im{
    height: 100%;
    width: 100%;   
}

h2{
    font-size: 50px;
  line-height: 0;
  color: #333333;
}

.soulmate {
  font-size: 68px;
  line-height: 1;
  font-weight: 900px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.right-about {
  width: 470px;
  padding: 40px;
  overflow: hidden;
}

@media only screen and (max-width: 1200px){
  .right-about{
    display: none;
  }
}