/* .App{
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.decoration
{
  text-decoration: none;
  color: #7367F0;
  font-family: Sans-serif	;
}
.active {
  /* font-weight: 900; */
  color: black!important;
}