.box-formE {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.editing {
  border: 3px dashed #b4adf1;
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 3px #090b6f85;
  overflow: scroll;
  /* padding: 70px; */
  box-sizing: border-box;
}
.editing::-webkit-scrollbar {
  display: none;
}
.rightE {
  width: 80%;
  margin-top: 40px;
  margin-left: 60px;
}
.In-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 435px;
}
.edit-pic {
  border: 3px dashed #b4adf1;
  border-radius: 50px;
  position: relative;
  width: 250px;
  margin: 40px;
  margin-top: 50px;
  height: 270px;
}

.file {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.edit {
  margin-left: 60px;
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 30px;
}

.edit-child {
  cursor: pointer;
  color: #232327;
}
.edit-child:hover {
  color: #7971b8;
}

.edit-bio {
  outline: none;
  width: 345px;
  height: 95px;
  /* margin-top: 40px; */
  resize: none;
  border-color: #62626485;
  border-radius: 10px;
  /* margin-left: 15px; */
  padding: 20px;
  line-height: 2;
  background-color: #f8f7ff;
  border: none;
}
.edit-bio:hover {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}
.edit-bio:focus {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}

.edit-tags {
  width: 385px;
  /* height: 150px; */
  /* margin-top: 39px; */
  /* overflow: auto; */
  /* height: 265px; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
}
.edit-tags::-webkit-scrollbar {
  display: none;
}

.editRight h1 {
  font-size: 56px;
  line-height: 1;
  font-weight: 900px;
  margin-top: 7px;
  margin-bottom: 35px;
}
.editRight{
  width: 95%;
}

.editImg {
  height: 271px;
  width: 250px;
  border-radius: 50px;
  border: 3px solid #e1ddfb;
  box-shadow: 0px 4px 20px 0px #090b6f85;
  /* margin-top: -105px; */
}

.edit-label{
  display: flex;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
  color: rgb(121, 113, 184);
  border-bottom: 1px solid;
  margin-top: 25px;
}

input.inptE {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  /* margin-top: 25px; */
  font-size: 15px;
  border: none;
  outline: none;
  background-color: rgb(243, 243, 243);
  border: 2px solid rgb(240, 240, 240)  ;
  border-radius: 12px;
}
input.inptE:hover{
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 1px #848bfd;
}

input.inptE:focus{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 7px 1px #848bfd;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.gallery-img{
  max-width: 225px;
    padding: 11px;
    box-sizing: border-box;
    background-size: contain;
}

@media only screen and (max-width: 1140px) {
  .box-formE{
    height: 100%;
    margin-top: unset;
  }
  .inp {
    width: 90%;
  }
  .editing {
    border: unset;
    box-shadow: unset;
    flex-direction: column;
    width: 100%;
    height: 90%;
    overflow: unset;
    padding-bottom: 5%;
    box-sizing: border-box;
    padding-top: 50px;
  }
  .editRight h1 {
    font-size: 47px;
  }
  .edit-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: unset;
  }
  .edit{
    margin-left: 20px;
  }
  .rightE{
    width: 100%;
    height: 100%;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .In-edit{
    display: unset;
    height: unset;
  }
  .edit-bio{
    width: 80%;
  }
  .edit-tags{
    width: 88%;
    height: 200px;
  }
  .left-edit{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
