.edit-pic {
  border: 3px dashed #b4adf1;
  border-radius: 50px;
  position: relative;
  width: 250px;
  margin: 40px;
  margin-top: 50px;
  height: 270px;
}

.file {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  cursor: pointer;
  opacity: 0;
}

.edit {
  margin-left: 60px;
  margin-top: 60px;
  font-size: 18px;
}

.edit-child {
  cursor: pointer;
  color: #232327;
}
.edit-child:hover {
  color: #7971b8;
}

.edit-bio {
  outline: none;
  width: 345px;
  height: 95px;
  /* margin-top: 40px; */
  resize: none;
  border-color: #62626485;
  border-radius: 10px;
  /* margin-left: 15px; */
  padding: 20px;
  line-height: 2;
  background-color: #f8f7ff;
  border: none;
}
.edit-bio:hover {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}
.edit-bio:focus {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}

.edit-tags {
  width: 385px;
  height: 100px;
  /* margin-top: 39px; */
  overflow: auto;
  /* height: 265px; */
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
}

.editRight h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 900px;
  margin-top: 7px;
  margin-bottom: 35px;
}

.editImg {
  height: 271px;
  width: 250px;
  border-radius: 50px;
  border: 3px solid #e1ddfb;
  box-shadow: 0px 4px 20px 0px #090b6f85;
  /* margin-top: -105px; */
}
