.progressbar {
  height: 65px;
  display: flex;
  align-items: center;
  margin-top:6%;
}
.progressbar div:nth-of-type(1),
.progressbar div:nth-of-type(3),
.progressbar div:nth-of-type(5),
.progressbar div:nth-of-type(7) {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0 0 3px 2px #090b6f85;
}

.progressbar div:nth-of-type(1):hover,
.progressbar div:nth-of-type(3):hover,
.progressbar div:nth-of-type(5):hover,
.progressbar div:nth-of-type(7):hover {
  background-color: #c3bef0;
  transform: scale(1.1, 1.1);
  transition: all 0.5s;
  color: white;
}

.progressbar div:nth-of-type(2),
.progressbar div:nth-of-type(4),
.progressbar div:nth-of-type(6) {
  width: 95px;
  height: 5px;
  background-color: white;
  box-shadow: inset 0 0 3px 2px #090b6f85;
}

.step {
  /* width: 760px; */
  height: 600px;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  margin-top: 30px;
  padding-top: 50px;
  justify-content: space-evenly;
  box-shadow: 0 0 20px 6px #090b6f85;
}
.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  font-size: 23px;
}
.genre {
  width: 100px;
  background: #5961f9ad;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 15px;
  cursor: pointer;
  padding: 10px;
  margin: 10px 5px;
  outline: 0;
}

.divv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -90px;
}

button.next,
button.previous {
  width: 160px;
  color: #fff;
  padding: 12px 35px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #090b6f85;
  background-color: #5961f9ad;
  position: relative;
  overflow: hidden;
  z-index: 3;
  cursor: pointer;
  font-size: 15px;
}
button.next::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #c3bef0;
  z-index: -1;
  transition: all 0.5s;
}
button.next:hover:after {
  width: 100%;
}
button.previous::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #c3bef0;
  z-index: -1;
  transition: all 0.5s;
}
button.previous:hover:after {
  width: 100%;
}
button.previous {
  margin-right: 25px;
}

.genre:hover {
  background-color: #c3bef0;
  box-shadow: 0px 4px 20px 0px #62626485;
}

.all {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.bio {
  outline: none;
  width: 240px;
  height: 195px;
  margin-top: 40px;
  resize: none;
  border-color: #62626485;
  border-radius: 10px;
  margin-left: 15px;
  padding: 20px;
  line-height: 2;
  background-color: #f8f7ff;
  border: none;
}
.bio:hover {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}
.bio:focus {
  box-shadow: 0px 0px 8px 0px #090b6f85;
}

.tags {
  width: 245px;
  margin-top: 39px;
  overflow: auto;
  height: 265px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}

.tags p:nth-of-type(1) {
  margin-left: 17px;
  font-size: 20px;
}
.tags::-webkit-scrollbar {
  display: none;
}

.photo {
  /* width: 370px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; */
  overflow: auto;
  height: 345px;
  text-align: center;
  width: 354px;
}
.photo::-webkit-scrollbar {
  display: none;
}
@media only screen and (max-width: 700px) {
  .photo {
    display: none;
  }
  .In {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .step {
    width: 400px;
    height: 410px;
  }
  button.next {
    margin-left: 0px;
  }
  .progressbar div:nth-of-type(2),
  .progressbar div:nth-of-type(4),
  .progressbar div:nth-of-type(6) {
    width: 35px;
  }
  .bio {
    margin-left: 0px;
  }
  button.previous {
    margin-right: 20px;
  }
}