@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
* {
  font-family: "Noto Sans";
}
html ,body, #root, .App {
  min-height: calc(100vh - 12vh);
}
body{
  background-color :#FBF9F9;
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
}
/* body {
  background: linear-gradient(135deg, #fab2ff 10%, #1904e5 100%);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'fantasy', sans-serif;
  background-attachment: fixed;
  color: #333333;
} */

.box-form {
  /* background: #ffffff; */
  /* border-radius: 10px; */
  display: flex;
  height: 100%;
  /* box-shadow: 0 0 20px 6px #090b6f85; */
  /* margin-top: 205px; */
}

.left {
  width: 60%;
  color: white;
  /* overflow: hidden; */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../photos/4.png);
}
.left p:nth-of-type(1) {
  color: #f3f9fb;
}

.overlay {
  padding: 80px;
  width: 100%;
  height: 100%;
  background: #5961f9ad;
  /* border-radius: 10px 0 0 10px; */
  /* overflow: hidden; */
  box-sizing: border-box;
}


h1 {
  font-size: 80px;
  line-height: 1;
  font-weight: 900px;
  margin-top: 46px;
  margin-bottom: 20px;
}

.overlay img {
  width: 20px;
}

button.media {
  float: left;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #090b6f85;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 44px;
}

.overlay button:nth-of-type(1) {
  width: 250px;
  margin-right: 20px;
}

.overlay button:hover {
  transition: all 0.6s;
  box-shadow: 0px 0px 5px 3px #cadefc;
  border: 1px solid #5961f9ad;
}

.overlay button:nth-of-type(2) {
  width: 60px;
}

.right {
  width: 26%;
  padding: 40px;
  margin-bottom: 10px;
}
.right-fgp{
  margin-top: 15%;
  margin-bottom: 15%;
  width: 25%;
  padding: 40px;
}

.right-confirm{
  margin-top: 15%;
  margin-bottom: 15%;
  width: 35%;
  padding: 40px;
}

h5 {
  font-size: 58px;
  line-height: 1;
}

button.btn {
  float: right;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 12px;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 7px 0px #090b6f85;
  background-color: #5961f9ad;
  position: relative;
  overflow: hidden;
  z-index: 3;
  cursor: pointer;
}

button.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #c3bef0;
  z-index: -1;
  transition: all 0.5s;
  /* transform: translateX(-100%); */
}
button.btn:hover:after {
  width: 100%;
}

input.inpt {
  width: 100%;
  padding: 10px;
  margin-top: 25px;
  font-size: 15px;
  border: none;
  outline: none;
  border: 2px solid rgb(240, 240, 240)  ;
  border-radius: 12px;
}
::placeholder
{
  color: #d0d0d5;
}
.errors{
  color: #fa1010;
}

@media only screen and (max-width: 1200px) {
  .box-form {
    flex-direction: column;
  }
  .right{
    width:80%;
  }
  .right-fgp{
    width:80%;
  }

  .right-confirm{
    width:80%;
  }
  .left{
    width:100%;
    height: 100%;
  }
  .overlay{
    height: 100%;
  }
  /* .overlay {
    border-radius: 10px 10px 0 0;
    padding-bottom: 70px;
  }
  h5 {
    margin-top: 54px;
    margin-bottom: 105px;
  } */
}
