.upload {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 345px;
}

.file-upload {

    width: 350px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    margin-top: 65px;
}

.file-upload::-webkit-scrollbar {
  display: none;
}

.image-upload-wrap {
  border: 3px dashed #b4adf1;
  border-radius: 10px;
  position: relative;
  transition: all 0.8s;
  /* height: 152px; */
}

.image-upload-wrap:hover {
  background-color: #b4adf1;
  border: 3px dashed #ffffff;
}

.file-upload-input {
  position: absolute;
  /* margin: 0;
    padding: 0; */
  width: 100%;
  height: 100%;
  /* outline: none; */
  opacity: 0;
  cursor: pointer;
}
.drag-text {
  text-align: center;
  color: #7871b8;
}
.drag-text h3 {
  font-weight: 100;
  /* text-transform: uppercase; */
  color: #7871b8;
  padding-bottom: 60px;
  text-align: center;
}

.file-upload-image {
  /* max-height: 200px; */
  max-width: 155px;
  /* margin: auto; */
  padding: 11px;
  box-sizing: border-box;
  background-size: contain;
}

/* .file-upload-image:hover{
  background-color: rgb(93, 91, 94);
  z-index: -1;
} */

.upload-image {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.upload-image::-webkit-scrollbar {
  display: none;
}
.remove-image {
  max-width: 165px;
  color: #fff;
  background: #cd4535;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 15px;
  /* display: none; */
  opacity: 0;
  cursor: pointer;
  transition: all 1.1s;
}


.default-image {
  max-width: 165px;
  color: #fff;
  background: #3489da;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 15px;
  opacity: 0;
  cursor: pointer;
  transition: all 1.8s;
}
.test {
  position: relative;
}
.test:hover .remove-image {
  /* display: block; */
 opacity: 1;

}

.test:hover .default-image {
  opacity: 1;
}
@media only screen and (max-width: 700px) {
  .file-upload{
    width: unset;
  }
  .upload-image{
    overflow: auto;
    margin-top: 46px;
    height: 320px;
    margin-right: 20px;
  }
}